// app global css in SCSS form

.textSection {
  color: #495562;
}

.textSubtitle {
  color: #9ba3ae;
}

a {
  text-decoration: none;
}

.cardNotica {
  width: 220px;
}

@media screen and (min-width: 576px) {
  .cardNotica {
    width: 550px;
  }
}
